@{
    ViewBag.Title = "Projects";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Neucha&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap"
          rel="stylesheet">

    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="wrapper_personal">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="skill_text">Projects.</h1>
                    <div class="button__pre_next">
                        <div>
                            <a href="/Portfolio/Skills">
                                <button type="button" class="btn btn-danger">
                                    Pervious: Skills
                                </button>
                            </a>
                        </div>
                        <div>
                            <a href="/Portfolio/Educational">
                                <button type="button" class="btn btn-success">
                                    Next: Educational
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 skill__card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>AIUB Cafe Management System - C#</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>This POS Project was developed with N-Tier Architecture in C# and follows Object Relational Mapping (ORM) from scratch and using MS SQL Server 2019 and .NET Framework 4.8 as Backend.</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Soucre Code: <a href="https://github.com/thesanjida/AIUB-Cafe-Management-System-CSharp">GitHub</a></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 skill__card">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    NFT Landing Page - Arcaneavians | ReactJs
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>This NFT landing pase was developed with ReactJs & Bootstrap.</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Soucre Code: <a href="https://github.com/thesanjida/nft-landing-page--arcaneavians-react-js">GitHub</a></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 skill__card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Haedphone Shop | eCommerce - NextJs App</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>E-commerce || Build with NextJs, Sanity and Payment gateway - Stripe.</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Soucre Code: <a href="https://github.com/thesanjida/next-js-eCommerce-app--full-stack">GitHub</a></td>
                                <td></td>
                            </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 skill__card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Restaurant Management System - Java</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>This project made with Java.</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Soucre Code: <a href="https://github.com/thesanjida/Restaurant-Management-System">GitHub</a></td>
                                <td></td>
                            </tr>
                    </table>
                </div>
                <div class="col-md-6 skill__card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Syntax Analysis, Function Verification, and Type Checking from a .txt File | Compiler Project - C++ </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>This project centers on enhancing code reliability and correctness by conducting syntax analysis, function verification, and type checking. By parsing source code from a .txt file, we identify syntax errors early, preventing runtime issues. Function verification ensures accurate function usage, minimizing logical errors. Comprehensive type checking confirms data type compatibility, reducing type-related bugs.</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Soucre Code: <a href="https://github.com/thesanjida/compiler-project-section-d">GitHub</a></td>
                                <td></td>
                            </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</body>
</html>